/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--colors-black: #000000;
	--colors-white: '#FFFFFF';
	--colors-sonic-silver: '#717171';
	--colors-platinum: '#E3E3E3';
	--colors-silver: '#C6C6C6';
	--colors-silver-chalice: '#AAAAAA';
	--colors-spanish-grey: '#8E8E8E';
	--colors-jet: '#393939';
	--colors-eerie-black: '#1C1C1C';
	--colors-caribbean-green: '#34D399';
	--colors-caribbean-green-25: '#CCF4E5';
	--colors-orange-yellow: '#FBBF24';
	--colors-orange-yellow-25: '#FEEFC8';
	--colors-ultra-red: '#FB7185';
	--colors-ultra-red-25: '#FEDBE0';
}

@layer base {
	table,
	thead,
	tbody,
	th,
	td {
		@apply p-0;
		border-spacing: 0;
	}

	input,
	select {
		@apply px-2 py-3 border border-silver rounded-lg outline-black placeholder-silver font-normal;
	}

	select {
		@apply h-[50px] box-border bg-white text-silver;
	}

	/*  Use to add padding to move dropdown icon of select element to right due to limitation of its default
	select {
		@apply h-[50px] box-border text-silver border-r-[8px] border-solid border-r-transparent border-0 outline outline-1 outline-silver;
	}
	*/

	input:focus,
	select:focus {
		@apply outline-1 outline-black;
	}

	option {
		@apply text-black;
	}

	option:first-child {
		@apply text-silver;
	}

	button {
		@apply h-[64px] font-semi-bold;
	}

	h1 {
		@apply font-semi-bold text-heading-4;
	}

	li > hr {
		@apply mt-4;
	}

	.body-container {
		@apply p-6;
	}

	table {
		@apply flex flex-col lg:table lg:bg-white;

		@apply rounded-lg border-collapse;

		@apply w-full;
	}

	thead tr {
		@apply text-left text-white hidden lg:table-row bg-eerie-black;

		@apply rounded-lg;
	}

	thead tr th {
		@apply p-6;
	}

	thead tr th:first-child {
		@apply lg:rounded-l-lg;
	}

	thead tr th:last-child {
		@apply lg:rounded-r-lg;
	}

	tbody tr {
		@apply flex flex-col gap-2 lg:table-row;
	}

	tbody tr:nth-child(even) {
		@apply lg:bg-platinum !important;
	}

	tbody tr td {
		@apply lg:p-6;
	}

	tbody tr td:first-child {
		@apply lg:rounded-l-lg;
	}

	tbody tr td:last-child {
		@apply lg:rounded-r-lg;
	}

	td {
		@apply flex justify-between lg:table-cell;
	}

	td:last-child {
		@apply mt-4 lg:mt-0;
	}

	td span {
		@apply lg:hidden block;
	}
}

@layer components {
	.btn-primary {
		@apply px-4 py-2 bg-black text-white rounded-lg font-semi-bold;
	}

	.btn-primary:hover {
		@apply shadow-2;
	}
	.btn-secondary {
		@apply px-4 py-2 bg-white text-black border border-black rounded-lg font-semi-bold;
	}

	.btn-secondary:hover {
		@apply bg-black text-white;
	}

	.btn-google {
		@apply px-2 py-[calc(1rem-1px)] bg-white text-sonic-silver rounded-lg font-semi-bold border border-sonic-silver;
	}

	.btn-google:hover {
		@apply shadow-2;
	}

	.btn-disabled {
		@apply px-2 py-4 bg-platinum text-silver rounded-lg font-semi-bold self-stretch;
	}

	.label-success {
		@apply px-2 py-1 text-caribbean-green bg-caribbean-green-25 rounded-[4px];
	}

	.label-warning {
		@apply px-2 py-1 text-orange-yellow bg-orange-yellow-25 rounded-[4px];
	}

	.btn-icon {
		@apply p-2 shadow-0 rounded-full h-auto;
	}

	.btn-avatar {
		@apply p-1 shadow-0 rounded-full flex;
	}

	.avatar-label {
		@apply text-subtitle font-semi-bold;
	}

	.label-error {
		@apply px-2 py-1 text-ultra-red bg-ultra-red-25 rounded-[4px];
	}

	.avatar-uploader {
		@apply rounded-full border-dashed bg-white;
		@apply text-transparent bg-avatar-upload-pattern bg-center bg-no-repeat;
	}

	.avatar-uploader:hover {
		@apply cursor-pointer;
		@apply rounded-full border-dashed bg-platinum;
	}

	.divider {
		@apply text-center relative;
	}
	.divider::before {
		@apply content-[""] z-[-1] border-t border-t-platinum m-auto absolute w-full top-1/2 left-0 right-0 bottom-0;
	}
	.divider span {
		@apply bg-white px-4;
	}

	.navigation-bar {
		@apply bg-white p-6 w-full flex flex-1 justify-between fixed top-0 items-center text-black lg:items-center;

		/* @apply relative; */
		@apply z-50;

		@apply lg:h-[calc(96px+48px)];

		/* Specify for fix navigation bar */
	}

	.menu-list,
	.menu-item {
		@apply flex flex-col gap-4;
	}

	.hamburger-menu {
		@apply relative flex flex-col items-center justify-center;
	}

	.hamburger-menu__open {
		@apply bg-white p-4 rounded-lg shadow-1 absolute top-[calc(48px+64px)] h-auto;

		@apply flex flex-col sm:w-[calc(100vw-48px)];

		@apply md:min-w-[50vw];

		@apply z-50;
	}

	.hamburger-menu__lg {
		@apply flex p-6 justify-center top-0 left-0 bottom-0 shadow-none;
	}

	.hamburger-menu__lg svg {
		@apply hidden;
	}

	.hamburger-menu__lg .menu-list {
		@apply flex flex-row items-center gap-8;
	}

	.hamburger-menu__lg .menu-item {
		@apply flex flex-row gap-8;
	}

	.hamburger-menu__lg .menu-list hr {
		@apply hidden;
	}

	.hamburger-menu__lg .link-component {
		@apply justify-center;
	}

	.hamburger-menu__lg .link-component:hover {
		@apply bg-white;
	}

	.hamburger-menu__lg .link-component:hover p {
		@apply text-black;
	}

	.profile-menu {
		@apply relative;
	}

	.profile-menu__open {
		@apply bg-white p-4 rounded-lg shadow-1 absolute top-[calc(48px+64px)] right-[24px] h-auto;

		@apply flex flex-col;

		/* @apply min-w-[250px]; */

		@apply lg:top-[calc(48px+96px-24px)];
	}

	.profile-menu__open .profile-menu__prefix-icon-lg {
		@apply lg:mr-3;
	}

	.profile-menu__open .profile-menu__text-lg {
		@apply lg:mr-auto;
	}

	.profile-menu__open .link-component {
		@apply lg:text-black;
	}

	.link-component {
		@apply p-4 flex items-center rounded-lg;

		@apply text-subtitle font-semi-bold;

		@apply lg:text-sonic-silver;
	}

	.link-component:hover {
		@apply bg-platinum cursor-pointer text-black;
	}
	.link-component:hover svg {
		@apply stroke-black;
	}

	.avatar-cell {
		@apply self-center lg:self-start;
	}

	table .btn-primary,
	table .btn-secondary {
		@apply h-[48px];
	}

	.user-card {
		@apply bg-white rounded-lg p-6 lg:p-0 shadow-0 lg:shadow-none;
	}

	.user-card:hover {
		@apply sm:shadow-1;
	}

	.user-card:not(:last-child) {
		@apply mb-6;
	}

	.avatar {
		@apply object-cover;
	}
}

@layer utilities {
	.form-container {
		@apply md:px-[10%] lg:px-[25%];
	}

	.avatar-uploader::-webkit-file-upload-button {
		@apply hidden;
	}

	.below-navigation-bar {
		@apply mt-[112px] lg:mt-36;
	}
}

/* .modal-content {
	@apply flex justify-center items-center absolute top-0 left-0 w-full h-full bg-transparent py-3 sm:px-3;
} */
